version: '3.8'


services:

  node:
    image: node:16
    restart: always
    tty: true
    volumes:
      - .:/var/www/html
    ports:
      - "3000:3000"
      - "8080:8080"
      - "5000:5000"
    working_dir: /var/www/html
    command: sh -c "yarn && yarn build"